%h2 Создать нового пользователя
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .actions
    = f.submit "Создать"
= render "devise/shared/links"

/ Mixins
/ Pen Title
.pen-title
  %h1 Material Login Form
  %span
    Pen
    %i.fa.fa-code
    by
    %a{:href => "http://andytran.me"} Andy Tran
.rerun
  %a{:href => ""} Rerun Pen
.container
  .card
  .card
    %h1.title Login
    %form
      .input-container
        %input#Username{:required => "required", :type => "text"}/
        %label{:for => "Username"} Username
        .bar
      .input-container
        %input#Password{:required => "required", :type => "password"}/
        %label{:for => "Password"} Password
        .bar
      .button-container
        %button
          %span Go
      .footer
        %a{:href => "#"} Forgot your password?
  .card.alt
    .toggle
    %h1.title
      Register
      .close
    %form
      .input-container
        %input#Username{:required => "required", :type => "text"}/
        %label{:for => "Username"} Username
        .bar
      .input-container
        %input#Password{:required => "required", :type => "password"}/
        %label{:for => "Password"} Password
        .bar
      .input-container
        %input{:id => "Repeat Password", :required => "required", :type => "password"}/
        %label{:for => "Repeat Password"} Repeat Password
        .bar
      .button-container
        %button
          %span Next
/ Portfolio
%a#portfolio{:href => "http://andytran.me/", :title => "View my portfolio!"}
  %i.fa.fa-link
/ CodePen
%a#codepen{:href => "https://codepen.io/andytran/", :title => "Follow me!"}
  %i.fa.fa-codepen