%section#fixed-tab-1.mdl-layout__tab-panel.is-active
  .page-content
    %h2 Все события        
    .materialContainer
      %table.mdl-data-table.mdl-js-data-table
        %thead
          %tr
            %th.mdl-data-table__cell--non-numeric Создатель
            %th.mdl-data-table__cell--non-numeric Название
            %th.mdl-data-table__cell--non-numeric Описание
            %th.mdl-data-table__cell--non-numeric Дата события
            %th.mdl-data-table__cell--non-numeric Адрес
            %th.mdl-data-table__cell--non-numeric{:colspan => "3"}
        %tbody
          - @events.each do |event|
            %tr
              %td.mdl-data-table__cell--non-numeric= event.author
              %td.mdl-data-table__cell--non-numeric= link_to "#{event.title}", event
              %td.mdl-data-table__cell--non-numeric= event.description
              %td.mdl-data-table__cell--non-numeric= event.date_time
              %td.mdl-data-table__cell--non-numeric= event.contacts
              %td.mdl-data-table__cell--non-numeric= link_to ('<i class="material-icons">edit</i>').html_safe, edit_event_path(event)
              %td.mdl-data-table__cell--non-numeric= link_to ('<i class="material-icons">delete</i>').html_safe, event, method: :delete, data: { confirm: 'Are you sure?' }
              
    -if user_signed_in?
      = link_to 'Новое событие', new_event_path