.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
  %header.mdl-layout__header
    .mdl-layout__header-row      
    / Tabs
    .mdl-layout__tab-bar.mdl-js-ripple-effect
      %a.mdl-layout__tab.is-active{:href => "#fixed-tab-1"} Список
      %a.mdl-layout__tab{:href => "#fixed-tab-2"} Карта
  .mdl-layout__drawer
    %span.mdl-layout-title Фильтр
    = form_tag events_path, method: "get", id: "search_form" do
      = render partial: "search", locals: {resourse: "filter", value: @filter.params[:query]}
      = render partial: "category_checkbox"
      .filter_form_button
        %p2
          %input{:type => "submit", :value => "Filter", name: nil}


      / = f.check_box "Categories"
    / = collection_check_boxes(:event, :categiry_ids, Category.first(5), :id, :name)


  %main.mdl-layout__content
    = render 'list', locals: {events: @events}
    = will_paginate @events

    %section#fixed-tab-2.mdl-layout__tab-panel
      .page-content
        / Your content goes here
      #map{style: 'width: 800px; height: 500px;'}

      :javascript
        map = Event.MapBuilder.init(#{raw @hash.to_json});
        map;


:javascript
  FilterBehaviour.init("#search_form");
