.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
  %header.mdl-layout__header
    .mdl-layout__header-row
      / =#%span.mdl-layout-title Фильтр
      
    / Tabs
    .mdl-layout__tab-bar.mdl-js-ripple-effect
      %a.mdl-layout__tab.is-active{:href => "#fixed-tab-1"} Список
      %a.mdl-layout__tab{:href => "#fixed-tab-2"} Карта
  .mdl-layout__drawer
    %span.mdl-layout-title Фильтр
    = render "search"
    = fields_for 'event[filter]' do |f|
    = collection_check_boxes(:event, :categiry_ids, Category.first(5), :id, :name)
    / = f.label(:category_ids)
    / = f.check_box(:category_ids)

  %main.mdl-layout__content
    = render 'list', locals: {events: @events}
    = will_paginate @events

    %section#fixed-tab-2.mdl-layout__tab-panel
      .page-content
        / Your content goes here
      #map{style: 'width: 800px; height: 500px;'}

      :javascript
        map = Event.MapBuilder.init(#{raw @hash.to_json});
        map;


/ :javascript
/   MapHandler.init(map)
