%h1 Все события
.materialContainer
  %table
    %thead
      %tr
        %th Создатель
        %th Название
        %th Описание
        %th Дата события
        %th Широта
        %th Долгота
        %th{:colspan => "3"}
    %tbody
      - @events.each do |event|
        %tr
          %td= event.author
          %td= link_to "#{event.title}", event
          %td= event.description
          %td= event.date_time
          %td= event.latitude
          %td= event.longitude
          %td= link_to ('<i class="material-icons">edit</i>').html_safe, edit_event_path(event)
          %td= link_to ('<i class="material-icons">delete</i>').html_safe, event, method: :delete, data: { confirm: 'Are you sure?' }
%br/
-if user_signed_in?
  = link_to 'Новое событие', new_event_path

#map{style: 'width: 600px; height: 300px;'}

:javascript
  Event.MapBuilder.init(#{raw @hash.to_json});
