<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @event.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @event.date_time %>
</p>

<p>
  <strong>Geotag:</strong>
  <%= @event.geotag %>
</p>

<p>
  <strong>Acsess level:</strong>
  <%= @event.acsess_level %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
