<p id="notice"><%= notice %></p>

<h1>Qr Teches</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qr_teches.each do |qr_tech| %>
      <tr>
        <td><%= link_to 'Show', qr_tech %></td>
        <td><%= link_to 'Edit', edit_qr_tech_path(qr_tech) %></td>
        <td><%= link_to 'Destroy', qr_tech, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qr Tech', new_qr_tech_path %>
