!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EventProject
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag '//maps.google.com/maps/api/js?key=AIzaSyBWIZdVc2TCRJ7bnJRzNrRbSGDynUPzpA4'
    = javascript_include_tag "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"
  %body
  / .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
  /   %header.mdl-layout__header
  /     .mdl-layout__header-row
  /       %span.mdl-layout-title Фильтр
  /     / Tabs
  /     .mdl-layout__tab-bar.mdl-js-ripple-effect
  /       %a.mdl-layout__tab.is-active{:href => "#fixed-tab-1"} Список
  /       %a.mdl-layout__tab{:href => "#fixed-tab-2"} Карта
  /   .mdl-layout__drawer
  /     %span.mdl-layout-title Фильтр
  /     %tr= link_to 'Главная', root_path
  /     %tr= link_to 'Профиль', profile_path(current_user.profile.id) if user_signed_in?
  /     %tr= link_to 'Категории', categories_path
  /     %tr= link_to 'Чаты', chat_rooms_path
  /     %tr= link_to 'QR code', qr_teches_path
  /     %tr= link_to 'Ищейка', snoopers_path
  /   %main.mdl-layout__content
  /     %section#fixed-tab-1.mdl-layout__tab-panel.is-active
  /       .page-content
  /         / Your content goes here
  /     %section#fixed-tab-2.mdl-layout__tab-panel
  /       .page-content
  /         / Your content goes here

  %p#notice= notice
  .devise
  - if user_signed_in?
    %span Здравствуйте,
    = current_user.profile.user_name
    = link_to 'Выйти', destroy_user_session_path, method: :delete, data: { confirm: 'Вы точно хотите выйти?' }
  - else    
    = link_to 'Войти', new_user_session_path
    %span или
    = link_to 'Зарегистрироваться', new_user_registration_path

  .block_panel
    %tr= link_to 'Главная', root_path
    %tr= link_to 'Профиль', profile_path(current_user.profile.id) if user_signed_in?
    %tr= link_to 'Категории', categories_path
    %tr= link_to 'Чаты', chat_rooms_path
    %tr= link_to 'QR code', qr_teches_path
    %tr= link_to 'Ищейка', snoopers_path
  = yield

:javascript
  Get.GeoLocation.init();